body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}


/* .headIMG {
        background: url(../img/dogheader1.jpg); 
        background-repeat: no-repeat; 
        background-size: cover;
        width: 100%;
        opacity: .8;
        height:450px;
      } */

.parallax img {
    width: 100%;
    /* object-position: 100%, 0; */
    /* @media {$small-and-down} { max-width: 200%; }
        @media {$medium-and-up} { width: 100%; } */
}

.parallax-container {
    height: 500px;
    opacity: .8;
}

.dropdown-content .select-dropdown {
    color: #706C61;
}

.searchIMG {
    background: url(../img/dogheader1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    height: 350px;
}

h2 {
    font-family: 'Special Elite', cursive;
}

.card .card-title {
    font-family: 'Special Elite', cursive;
    padding-top: 35px;
    font-size: 3rem;
    opacity: .8;
}

.card .card-content,
.modalStyle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 1rem;
    letter-spacing: 5px;
    opacity: .8;
}

h3 {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Special Elite', cursive;
    font-size: 1.92rem;
    color: #9f7369;
}

.tagline {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Special Elite', cursive;
    font-size: 3.92rem;
    /* color: #ffffff; */
    padding-top: 10%;
}

.btn {
    background-color: #BA724C;
}


/* .btn:visited{
        background-color:#C06E52;
      } */

.btn:hover {
    background-color: #d2bba0;
}


/* .btn:active{
        background-color: #C06E52;
      } */

.btn:focus {
    background-color: #BA724C;
}


/* INPUT FIELD ON INDEX NEAR ME
  .nearsearch {
      border: 1px solid #9f7369;
  } */


/* changes color of select dropdown text - category dropdowns */

ul.dropdown-content.select-dropdown li span {
    color: #706C61;
    /* no need for !important :) */
}

/* Custom CSS */
/* 
#706C61 - brown
#899E8B - gray-green
#99C5B5 - teal
#BA724C - orange
#F7C23B - yellow
*/


/* .nav-wrapper {
    background-color: #706C61;
} */

/* .page-footer {
    background-color: #706C61;
} */

/* i.material-icons {
    color: #F7C23B ;
} */

h3 {
    color: #BA724C;
}

h3#title{
    color: #BA724C;
}

#input-zipCode {
    color: #99C5B5;
}

#input-place {
    color: #99C5B5;
}

/* .card-title {
    background-color: #99C5B5;
} */
/* .card-content {
    background-color: #899E8B;
} */

/* div.modal-content {
    background-color: #F7C23B;
} */


